<div class="modal-main">
  <div class="modal-container">

    <div class="modal-header">
      <h1>Menú</h1>
      <img src="../../../../assets/x 1.svg" alt="close icon" (click)="closeModal()"/>
    </div>
    <div class="modal-info">
      <ul>
        <li (click)="redirectToList('home')">Inicio</li>
        <li (click)="redirectToList('Estudiantes')">Estudiantes</li>
        <li (click)="redirectToList('Cursos')">Cursos</li>
        <li (click)="redirectToList('Profesores')">Profesores</li>
      </ul>
    </div>
  </div>


</div>
