<div class="modal-main">
  <div class="modal-container">

    <div class="modal-header">
      <h1>¿Deseas eliminarlo?</h1>
      <img src="../../../../assets/x 1.svg" alt="close icon" (click)="closeModal()"/>
    </div>
    <div class="modal-info">
      <p>Esta acción es irreversible y eliminara por completo la matricula del Estudiante <b>{{studentName}}</b> en el curso <b>{{courseName}}</b></p>
      <p class="error_message" *ngIf="isError" >Ha ocurrido un error en el servidor, no ha sido posible realizarlo</p>

      <div class="buttons-container">
        <button (click)="closeModal()">Cancelar</button>
        <button id="delete-button" (click)="confirmDelete()">Eliminar</button>

      </div>
    </div>
  </div>


</div>
