@use '../../_base.sass'



nav
  margin: 20px
  display: flex
  align-items: center
  justify-content: space-between
  .logo
    width: 9%
    height: 100%
  .search-bar-container
    display: flex
    justify-content: center
    align-items: center
  .search-bar
    padding: 0 1.3rem
    width: 22rem
    height: 2.2rem
    border-radius: 3rem
    border: solid 1px base.$primary-color
    background-color: base.$text-area-color
    font-size: 1rem
  .logo-user
    width: 40%
    margin-right: 4px
    cursor: pointer
  .logo-menu
    width: 40%
    margin-left: 4px
    cursor: pointer
