<div class="title">
  <h1>Inicio</h1>
  <p>
    Bienvenido al portal de información Sophos.<br>
    En esta plataforma podras acceder y modificar la información sobre estudiantes, cursos y maestros para atender las solicitudes necesarias.</p>
</div>
<div class="container-lists">

  <div class="expanded-side">

    <app-students-list class="students-list"></app-students-list>

  </div>

  <div class="colapsed-side">

    <div>
      <app-courses-list class="courses-list"></app-courses-list>
    </div>

    <div>
      <app-teachers-list class="teachers-list"></app-teachers-list>
    </div>

  </div>

</div>
