<div class="main-wrapper">
  <div class="header">
    <h1 class="title" > Cursos acargo</h1>
  </div>
  <p class="empty_courses" *ngIf="(teacherCourses.length == 0) && !isError">Este profesor no tiene cursos acargo</p>
  <p *ngIf="isError" class="error_message">Ha ocurrido un error al traer los datos, intentelo nuevamente más tarde</p>
  <table class="table-list"  *ngIf="!(teacherCourses.length == 0) && !isError">
    <tr >
      <th>
        Codigo
      </th>
      <th>
        Nombre
      </th>
      <th>
        Creditos
      </th>
    </tr>
    <tr *ngFor="let course of teacherCourses">
      <td>
        {{course.course_id}}
      </td>
      <td>
        {{course.course_name}}
      </td>
      <td >
        {{course.amount_credits}}
      </td>

    </tr>
  </table>

</div>
