<main >

  <div class="illustration-side">

    <img class="logo" src="../../../assets/Logo.svg">
    <img class="illustration" src="../../../assets/VEctorIllustracion.svg">

  </div>
  <aside class="form-side">

    <h2>Bienvenido</h2>
    <p>Ingresa tus credenciales</p>

    <form class="login_form" [formGroup]="loginForm">
      <input formControlName="user_mail" placeholder="Email" type="email" class="input_email">

      <input formControlName="user_password" placeholder="Contraseña" type="password" class="input_password">

      <button (click)="login()" [class.disabled-button]="!loginForm.valid" [class.submit-button]="loginForm.valid" type="submit" class="submit-button">Confirmar</button>
    </form>





  </aside>

</main>
