<div class="main-wrapper">
  <div class="header">
    <h1 class="title" > Cursos aprovados</h1>
    <app-loader *ngIf="loading"></app-loader>
  </div>
  <p class="empty_courses" *ngIf="(approvedCourses.length == 0) && !isError">Este estudiante aún no aprueba ningún curso</p>
  <p *ngIf="isError" class="error_message">Ha ocurrido un error al traer los datos, intentelo nuevamente más tarde</p>
  <table class="table-list" *ngIf="!(approvedCourses.length == 0) && !isError && !loading">
    <tr >
      <th>
        Codigo
      </th>
      <th>
        Nombre
      </th>
      <th>
        Profesor
      </th>
    </tr>
    <tr *ngFor="let course of approvedCourses">
      <td>
        {{course.course_id}}
      </td>
      <td>
        {{course.course_details.course_name}}
      </td>
      <td >
        {{course.course_details.teacher_details == null ? 'Null' : course.course_details.teacher_details.teacher_full_name}}
      </td>

    </tr>
  </table>

</div>
